<!doctype html>
<html lang="en">
<link rel="icon" href="/Imag/wrench.png">

<head>
    {{>headers}}
    <link rel="stylesheet" href="{{style}}">
</head>

<body>
    {{>navbar}}
    <br>
    <div class="container">
        <div class="404">
            <h1 style="text-align: center;height:70vh;margin-top: 30px;">Oops Page Couldn't be Found...</h1>
        </div>
    </div>

    {{>footer}}


</body>

</html>