<section class="mbr-section--bg-adapted mbr-section--relative" id="features6-48"
    style="background-color: rgb(255, 255, 255);">
    <div class="service3 icon-box-square">

        <div class="bigBox container">

            <div class="12 row">

                <div class="firstBox1 col-md-4">
                    <div class="text-center">
                        <span><i class="fass fa fa-3x fa-tablet"></i></span>
                        <div class="services-content">
                            <h2>RESPONSIVE DESIGN</h2>
                            <p>Fully responsive website to reach every device audience</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="firstBox text-center">
                        <span><i class="fas fa-3x fa-search"></i></span>
                        <div class="services-content">
                            <h2>SEO FRIENDLY</h2>
                            <p>Optimized website for easy search engine ranking</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="firstBox text-center">
                        <span><i class="fas fa-3x fa-clone"></i></span>
                        <div class="services-content">
                            <h2>Fully customized </h2>
                            <p>A tailored layout which matches your business and user.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="firstBox text-center">
                        <span><i class="fas fa-3x fa-clock"></i></span>
                        <div class="services-content">
                            <h2>Quick Delivery </h2>
                            <p>Our web experts work round the clock to ensure shortest delivery time</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="firstBox text-center">
                        <span><i class="fas fa-3x fa-dollar-sign"></i></span>
                        <div class="services-content">
                            <h2>Affordable</h2>
                            <p>Economic ease for starter business with less load on pockets</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="firstBox text-center">
                        <span><i class="fas fa-3x fa-envelope"></i></span>
                        <div class="services-content">
                            <h2>Support </h2>
                            <p>Dedicated client manager during and after delivery for seamless support</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>