<section class="mbr-section--bg-adapted mbr-section--relative" id="contacts1-83"
    style="background-color: rgb(219, 219, 219);">

    <footer>

        <div class="container ">
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-info"> <i class="fa fa-map-marker"></i><br>
                        <div><b>xxyyzzz NEW DELHI 110080</b>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-info"><i class="fa fa-phone"></i>
                        <br>
                        <div>
                            <b>
                                <a href="tel:+919818611096">+91 9818611096</a>
                                <br>
                            </b>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact-info "><i class="fa fa-envelope"></i><br>
                        <div><a href="#" class="__cf_email__" data-cfemail="#"><b><a
                                        href="mailto: kaushalrajput024@gmail.com">kaushalrajput024@gmail.com</a></b></a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </footer>
</section>
<section class="mbr-section--bg-adapted mbr-section--relative" id="footer1-86"
    style="background-color: rgb(17, 17, 17);">
    <div class="footer-copy">

        <div class="container">© 2020 Web_Dev. All rights reserved.</div>
    </div>
</section>